<div class="span1">
        <i class="icon-eye-open icon-white"></i>
        <span><strong><%= link_to "Patients notification", patients_notification_path, class: "btn btn-primary" %></strong></span>        	

           	
</div>