<!DOCTYPE html>
<html>
  <head>
    <title>Docotr Prescription tSystem</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <h1 class="welcome text-left">Welcome to <br> Doctor's prescription System</h1>
      <div class="card card-container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>